@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    font-family: 'Inter', sans-serif;

}

body {
    margin: 0px;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content-container {
    height: 100vh;
}

.main-content {
    height: 100%;
    padding-top: 0px;
    margin-top: 58px
}

/*? ===================================================Navbar================================================== */
#navbar-repohunter {
    background-color: #D5D5D5;
    width: 101%;

}

/*?==================================================== Left Div =========================================*/
#welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#skeleton-user-profile,
#user-profile-show {
    margin-top: 30px
}

#username {
    border-radius: 999999px;
    height: 62px;
    width: 70%;
    padding-left: 33px;
    font-size: 25px;
}

#fetch-data-btn {
    border-radius: 999999px;
    width: 28%;
    font-size: 25px;
    margin-left: 15px;
}

#left-container {
    background-color: #d5d5d5;


}

@media screen and (max-width: 768px) {
    #left-container {
        min-height: 80vh;
    }

    .main-container {
        flex-direction: column;
    }




    /* Add more styles as needed for smaller screens */
}

.user-profile-image {
    border-radius: 9999px;
    object-fit: cover;
    border-width: 1px;
    border-color: #171717;
}

#welcome-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 18%;
    margin-left: 20px;
}

/* ?===============================================Right div=================================================== */
.right-repo-div {
    background: url('../assets/privateinvestocat-light.jpg') center center / cover;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 70px;
}

.right-div-title {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.card-main-content {
    background-color: rgba(255, 255, 255, 0.8);
}


.language-circle {
    width: 50%;
    height: 30px;
    border-radius: 99999px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*?=================================== Skeleton Loader Styles ===========================================*/




.skeleton-avatar {
    border-radius: 9999px;
    background-color: #ddd;
    width: 100px;
    height: 100px;
    margin: 10px
}

.skeleton-line-full {
    width: 100%;
    height: 16px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.skeleton-line-half {
    width: 50%;
    height: 16px;
    background-color: #ddd;
    margin-bottom: 10px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

.skeleton-avatar,
.skeleton-line-full,
.skeleton-line-half {
    background-color: #b4b4b4;
    margin-bottom: 10px;
    animation: blink 1.5s infinite;
    /* Apply the blink animation */
}




/* #skeleton-loader-repositories {
    margin-top: 48.797px;
} */

/* ?=======================================Pagination component=============================== */


.pagination select,
.pagination button {
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
}

#skeleton-loader-repositories,
#skeleton-user-profile,
#pagination-container,
#user-profile-show,
#right-div-title {
    display: none;
}


/* =======================================Theme toggle=============================== */
/* 
#theme-name {
    margin-right: 42px
}

.switch-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-right: 16px;
    justify-items: center;
    align-items: center;
}

.switch-container p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.switch {
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 19px;
    width: 60px;
    height: 33px;
    background-color: #8b8b8b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #221e1fbd;
}



input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders 
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

*/